<mat-card class="dialog">
    <div class="header">
        <mat-card-header color="primary">
            ADD PRODUCT
        </mat-card-header>

    </div>
   
    <mat-card-content class="cart-content">
        <div style="margin-top: 20px;width: 100%;">
            <mat-form-field class="example-form-field">
                <mat-label>Quatity</mat-label>
                <input matInput type="number" [(ngModel)]="quantity">
            </mat-form-field>
        </div>
        <table style="width: 100%;">
            <tr>
                <td>
                    Product Cost
                </td>
                <td>
                    {{quantity*cost}}
                </td>
            </tr>
            <tr>
                <td>Platform Fee
                </td>
                <td>
                    {{quantity*cost*0.5}}
                </td>
            </tr>
            <tr>
                <td style="font-weight: 600;">TOTAL BILL

                </td>
                <td style="font-weight: 600;">{{(quantity*cost)+(quantity*cost*0.5)}}
                    $
                </td>
            </tr>
        </table>
    </mat-card-content>
    <mat-card-actions style="margin-top: auto;display: flex;width: 100%;justify-content: space-between;">
        <button mat-button color="warn">CANCEL</button>
        <button mat-button color="primary" (click)="add()">ADD</button>
    </mat-card-actions>
</mat-card>

