.products-view{
    padding: 75px;
}
.column1{
    float: left;
    width: 30%;
    height: 200px;
    background-color: green;
    margin: 15px;
    border-radius: 2px;
}
.product{
    width: 15%;
    float: left;
    margin: 15px;
}
.product-actions {
    background-color: rgb(70, 241, 70);
    margin-right: 5px;
    width: 50%;
}
.inp {
    height: 30px;
    margin-right: 5px;
    width: 50%;
}