<div class="products-view">
    <mat-card class="product">
        <mat-card-header style="background-color: rgb(70, 241, 70);">
            <mat-card-title >Green</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions>
        <button mat-button>Quantity</button>
        <button mat-button>Add</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="product">
        <mat-card-header style="background-color: rgb(70, 241, 70);">
            <mat-card-title>Green</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-actions>
        <button mat-button style="background-color: rgb(70, 241, 70);margin-right: 10px;">Quantity</button>
        <button mat-button style="background-color: rgb(70, 241, 70);">Add</button>
      </mat-card-actions>
    </mat-card>
</div>

