.products-view{
    position: absolute;
    background-color:rgb(140, 255, 138);
    display: block;
    margin-left: 100px;
    width: 100%;
}
.column1{
    float: left;
    width: 30%;
    height: 200px;
    background-color: green;
    margin: 15px;
    border-radius: 2px;
}
.extra {
    flex: 1 1 auto;
}
.product{
    width: 25%;
    float: left;
    margin: 15px;
}
.product-actions {
    background-color: rgb(70, 241, 70);
    margin-right: 5px;
    width: 50%;
}
.inp {
    height: 30px;
    margin-right: 5px;
    width: 50%;
}

/* Make sure the body and html occupy the full height */
html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Style the image to cover the full screen */
  .full-screen-image {
    position: absolute;  /* Position it absolutely */
    top: 0;
    left: 0;
    width: 100%;   /* Stretch to full width */
    height: 100vh; /* Set height to 100% of the viewport height */
    object-fit: cover;  /* Ensure the image covers the screen, maintaining aspect ratio */
    z-index: -1;  /* Put the image behind any content */
  }
  