<!-- <div *ngIf="errorFlag=='success'" >
 <app-home-page></app-home-page>
</div> -->

<div class="login-form">
  <div class="alert alert-danger" *ngIf="errorFlag=='Invalid Credentials'">
   <span>{{errorFlag}}</span>
  </div>
    <mat-form-field class="field">
        <mat-label>User Name</mat-label>
        <input matInput [(ngModel)]="user.userName">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Customer Type</mat-label>
        <mat-select [(ngModel)]="user.customerType">
          <mat-option value="Wholesale">Wholesale</mat-option>
          <mat-option value="Retail">Retail</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="user.password">
      </mat-form-field>
      <br>
      <button style="width: 100%;height: 45px;"  (click)="login()">Login</button>
      <button style="width: 100%;height: 45px;margin-top: 20px;">Register</button>
</div>

