<div class="login-form">
    <mat-form-field class="field">
        <mat-label>User Name</mat-label>
        <input matInput>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Customer Type</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput type="password">
      </mat-form-field>
      <br>
      <button style="width: 100%;height: 45px;">Login</button>
</div>

