.create-product {
    background-color: rgb(127, 242, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width: 300px;
    border-color: black;
    margin-left: 175px;
    margin-top: 100px;
    border: 1.5px solid black;
    
}

.header{
    background-color: rgb(9, 225, 95);
}


.content {
    display: flex;
    flex-direction: column;
    gap: 10px;

}