<mat-toolbar>
    <mat-toolbar-row >
        <button mat-icon-button (click)="sideNave()"><mat-icon>menu</mat-icon></button>
        <div class="logo">
            Farm Fresh
        </div>
        <div class="extra"></div>
        <div>
            <button mat-icon-button >
                <mat-icon matBadge="0" >shopping_cart</mat-icon>
        </button>
        </div>
      
    </mat-toolbar-row>
    
 
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav opened="{{isSideNav}}" color="primary" mode="push">
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['']">
            <button mat-button class="nav-button" (click)="sideNave()">
                
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </a>
        </div>
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/products-view']">
            <button mat-button class="nav-button" (click)="sideNave()" ><mat-icon>shop</mat-icon>
                <span>Shop</span>
        </button>
             </a>
        </div>
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/view-orders']">
            <button mat-button class="nav-button" (click)="sideNave()"><mat-icon>dashboard</mat-icon>
                <span>View Orders</span>
        </button>
    </a>
        </div>
        
        
    </mat-sidenav>
    <mat-sidenav-content>
    <router-outlet></router-outlet>    
    </mat-sidenav-content>
    <mat-drawer-container class="red">
        <div>venkata</div>
    </mat-drawer-container>
  </mat-sidenav-container>

