<mat-toolbar>
    <mat-toolbar-row  *ngIf="isLogged==true">
        <button mat-icon-button (click)="sideNave()"><mat-icon>menu</mat-icon></button>
        <div class="logo">
            Farm Fresh
        </div>
        <div class="extra"></div>
        <div>
            <button mat-icon-button (click)="cartCheck()" >
                <mat-icon aria-hidden="false" matBadge={{prodcart.productBill.length}} >shopping_cart</mat-icon>
        </button>
        </div>

        <div>
            <button mat-icon-button  >
                <mat-icon>account_box</mat-icon>
        </button>
        </div>
      
    </mat-toolbar-row>
    
 
</mat-toolbar>
<mat-sidenav-container class="sidenav-wrapper">
    <mat-sidenav opened="{{isSideNav}}" color="primary" mode="push">
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['']">
            <button mat-button class="nav-button" (click)="sideNave()">
                
                <mat-icon>home</mat-icon>
                <span>Home</span>
            </button>
        </a>
        </div>
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/products-view']">
            <button mat-button class="nav-button" (click)="sideNave()" ><mat-icon>shop</mat-icon>
                <span>Shop</span>
        </button>
             </a>
        </div>
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/view-orders']">
            <button mat-button class="nav-button" (click)="sideNave()"><mat-icon>dashboard</mat-icon>
                <span>View Orders</span>
        </button>

        </a>
        </div>
        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/create-product']">
            <button mat-button class="nav-button" (click)="sideNave()"><mat-icon>add_box</mat-icon>
                <span>Add Products</span>
        </button>

        </a>
        </div>

        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/view-orders']">
            <button mat-button class="nav-button" (click)="sideNave()"><mat-icon>dashboard</mat-icon>
                <span>View Products</span>
        </button>

        </a>
        </div>

        <div style="padding-bottom: 10px;">
            <a [routerLink]="['/view-orders']">
            <button mat-button class="nav-button" (click)="sideNave()"><mat-icon>dashboard</mat-icon>
                <span>Update Products</span>
        </button>

        </a>
        </div>
        
        
    </mat-sidenav>
    <mat-sidenav-content>
        <div *ngIf="isLogged==false">
            <div class="home-intro">
                <div>🌱 <b>Welcome to Farm Fresh!</b> 🌱</div>
                <div>
                    Your One-Stop Shop for Farm-Fresh Goodness!
                    Bringing the best of local farms straight to your door. Fresh, organic, and healthy produce delivered with just a click!
                </div>
                <div class="home-intro-bottom">

                    <div>
                        <button mat-flat-button (click)="login()" >
                            Login
                    </button>
                    </div>
    
                    <div *ngIf="isregis==false">
                        <button mat-flat-button (click)="register()" >
                            Register
                    </button>
                    </div>


                </div>
               
            </div>

        </div>
    <router-outlet></router-outlet>    
    </mat-sidenav-content>
  </mat-sidenav-container>

