mat-toolbar {
    color: #000
    ;
    background-color:
greenyellow;
height: 50px;
}
.toolbar-row2 {
    background-color: rgb(169, 252, 45)

}
.logo {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.sidenav-wrapper{
position: absolute; 
top:30px;
bottom:0;
 left: 0;
 right:0;
 background: rgb(190, 248, 103);
 
}
mat-sidenav {
 width: 200px;
 padding: 20px;   
 background-color: green;
}
mat-sidenav-content {
 display: flex;
 justify-content: center;
 align-items: center;   
}
.extra {
    flex: 1 1 auto;
}