mat-toolbar {
    color: #000
    ;
    background-color:greenyellow;
height: 50px;
}
.toolbar-row2 {
    background-color: rgb(169, 252, 45)

}
.logo {
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}
.sidenav-wrapper{
position: absolute; 
top:50px;
bottom:0;
 left: 0;
 right:0; 
}
mat-sidenav {
 width: 230px;
 padding: 20px;   
 background-color: rgb(174, 231, 197);

}
/* mat-sidenav-content {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 100%;
 width: 100%;
 } */


 .extra {
    flex: 1 1 auto;
}

.nav-button{
    width: 100%;
    align-items: left;
    justify-content: left;
}
.red {
    background-color: red;
}
.mat-drawer-backdrop.mat-drawer-shown {
    /* visibility: visible; */
    background-color: #40ff6a;
}

.shopping-cart {
    height: 30px;
    width:30px;
}


.home-intro {
    height: 225px;
    background-color: rgb(157, 248, 157);
    padding-top: 40px;
    padding-left: 10px;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    margin: 75px;
}
.home-intro-bottom {
    margin-top: 30px;
    display: flex;
    /*flex-direction: column;  Arranges items vertically */
    gap: 10px; /* Optional: adds space between the items */
}

html, body {
    height: 100%;
    margin: 0;
  }
  
  /* Style the image to cover the full screen */
  .full-screen-image {
    position: absolute;  /* Position it absolutely */
    top: 0;
    left: 0;
    width: 100%;   /* Stretch to full width */
    height: 100vh; /* Set height to 100% of the viewport height */
    object-fit: cover;  /* Ensure the image covers the screen, maintaining aspect ratio */
    z-index: -1;  /* Put the image behind any content */
  }